{
    "version": 3,
    "name": "Krakend Api Gateway",
    "cache_ttl": "3600s",
    "timeout": "45s",
    "extra_config": {
      "security/cors": {
        "allow_origins": ["*"],
        "allow_methods": ["GET", "HEAD", "POST", "OPTIONS", "PUT","DELETE"],
        "expose_headers": ["*"],
        "allow_headers": ["*"],
        "max_age": "12h",
        "allow_credentials": false,
        "debug": false
    }
  },
  "endpoints": [{{ template "Endpoint" . }}]
}